@font-face {
  font-family: "SofiaPro";
  src: url("./Sofia Pro Regular Az.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SofiaPro";
  src: url("./Sofia Pro Medium Az.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SofiaPro";
  src: url("./Sofia Pro Semi Bold Az.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SofiaPro";
  src: url("./Sofia Pro Bold Az.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SofiaPro";
  src: url("./Sofia Pro Black Az.otf");
  font-weight: 900;
}
